<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<body>
  <div class="signup-container">
    <form action="/admin/signup" method="POST" enctype="multipart/form-data">
      <div class="signup-frame" style="width: 650px">
        <div class="signup-top">
            <h2 class="signup-title">JOIN US!</h2>
            <div>Go back? <a href="/admin" class="signup-link">HOME</a></div>
            <p>
                Already signed up?
                <a href="/admin/login" class="signup-link">LOGIN</a>
            </p>
        </div>


        <div class="sign-input-frame">
          <div class="sign-up-frame">
            <input
              type="text"
              name="userId"
              class="member-nick"
              placeholder="Username"
              value=""
            />
          </div>
          <div class="sign-up-frame">
            <input
              type="text"
              name="userPhone"
              class="member-phone"
              placeholder="Phone"
              value=""
            />
          </div>
          <div class="sign-up-frame">
            <input
              type="text"
              name="userAge"
              class="member-phone"
              placeholder="Your age"
              value=""
            />
          </div>
        </div>
        <div class="sign-input-frame">
          <div class="sign-up-frame">
            <input
              type="password"
              name="userPassword"
              class="member-password"
              placeholder="Password"
              value=""
            />
          </div>
          <div class="sign-up-frame">
            <input
              type="password"
              name="confirmPassword"
              class="confirm-password"
              placeholder="Repeat password"
              value=""
            />
          </div>
        </div>

        <input name="memberType" value="RESTAURANT" hidden />

        <button class="btn" name="signup" type="submit">
          SIGN UP
        </button>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>